/* General Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.mylink {
    color: #154157;
    font-weight: bold;
}

.mylink:hover {
    color: #007bff;
    text-decoration: underline #007bff;
}

p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-weight: bolder;
    margin-top: 10px;
}


li {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bolder;
 
}


/* Header */
header {
    padding: 20px;
    margin: 0 0 0 0 ; 
    font-family: 'Poppins', sans-serif;
    background-color: #154157;
    color: #ffffff;
    height:100px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 span {
    color: #d9dcd6;
}
/*Navigation*/

header nav {
    padding-top: 15px;
    margin-right: 20px;
    margin-top: -50px;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    background-color:lightgray ;
    font-weight: bold;
    border: 3px solid lightgray;
    color: #154157; 
    padding: 10px;
}

nav a:hover {
    background-color: lightgray;
    color:  #007bff ;
}


/* Main Content  */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
   
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
    color: #373b3b;
    
    
}

main section h2 {
    font-size: 36px;
    color: #000;
    text-decoration:lightgray underline;
}

main section div {
    display: flex;
    
}

/* About Me */
#about-me {
    height: 500px; 
}

#about-me ul {
    list-style: circle;
    margin-left: 20px;
}

#about-me-content {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: -200px;
}

.about-me-img {
    max-height: 200px; 
    justify-content: flex-start;
    margin-top: 30px;
}

/* My Work */
#my-work {
    height: 500px;
}

.portfolio-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.portfolio-img-container div {
    flex-direction: row;
}
.portfolio-img-container a:hover img {
    box-shadow: 8px 8px lightgray;
    border: 3px solid lightgray
        
}

.portfolio-img {
    max-height: 200px;
    border: 1px solid #000;
}


/* Contact Me */
#contact-me div {
    display: flex;
    flex-direction: column;
}

#contact-me ul {
    margin-top: 40px;
}


/* Footer */
footer {
    margin-top: -30px;
    padding: 20px;
    clear: both;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

footer h2 {
    font-size: 20px;
}

/* responsive styles */
@media screen and (max-width: 992px) {
        
    /* header & navigation  */
        header {
            height: 275px;
        }
        header h1 {
            text-align: center;
        }

        header div {
            display: flex;
            flex-direction: column;
        }

        header nav {
            margin-top: 0px;
            width: 100%;
        }
        header nav ul li {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
            margin: 5px 0 5px 0;
            
        }
        
       /* About Me */
        #about-me {
            height: 725px; 
        }

        #about-me div {
            display: flex; 
            flex-direction: column;
            margin: 0;
            width: 100% 
        }

        #about-me-content {
            padding-top: 20px;
        }
        #about-me-content p {
            padding-top: 20px;
        }
       
        .about-me-img {
            height: 200px; 
            width: 200px;
            display: flex;
            /* margin: 0px 0 0 85px; */
        }

        /* My Work */
        #my-work {
            height: 800px;
        }

        .portfolio-img-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 40px;
        }


        .portfolio-img-container img {
            width: 200px;
            margin: 5px;
        }

        

    }

 
@media screen and (max-width: 600px) {
        
    /* header & navigation  */
        header {
            height: 275px;
        }
        header h1 {
            text-align: center;
        }

        header div {
            display: flex;
            flex-direction: column;
        }

        header nav {
            margin-top: 0px;
            width: 100%;
        }
        header nav ul li {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
            margin: 5px 0 5px 0;
            
        }
        
       /* About Me */
        #about-me {
            height: 800px; 
        }

        #about-me div {
            display: flex; 
            flex-direction: column;
            margin: 0;
            width: 100% 
        }

        #about-me-content {
            padding-top: 20px;
        }
        #about-me-content p {
            padding-top: 20px;
        }
       
        .about-me-img {
            height: 200px; 
            width: 200px;
            display: flex;
            margin: 0px 0 0 85px;
        }

        /* My Work */
        #my-work {
            height: 1600px;
        }

        .portfolio-img-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 40px;
        }


        .portfolio-img-container img {
            width: 200px;
            margin: 5px;
        }

        

    }
